@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --color-hover-btn: hsl(25, 100%, 94%);
    --color-btn: hsl(26, 100%, 55%);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

header{
    box-sizing: border-box;
    max-width: 100%;
    padding: 10px 25px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;/*aqui! Como deixar os objetos perto um do outro?*/

    position: relative;
}

nav{
    display: none;
}

.header__logo{
    width: 150px;
    /* transform: translateX(-20%); */
    /* margin-left: -30px; */
}

.header__cart{
    background-color: blue;
}

.header__avatar{
    width: 35px;
    align-self: flex-end;
}

main.product{
    background-color: lightgreen;
    box-sizing: border-box;
    width: 100%;
    /* max-width: 800px; */
}

div.product__img{
    background-color: lightseagreen;
    width: 100%;
}

.product__img img{
    width: 200px;
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }